[alias]
  up = pull --rebase origin
 	br = branch
	st = status
	ci = commit
	co = checkout
	ql = log --abbrev-commit --pretty=oneline
	qlr = log --reverse --abbrev-commit --pretty=oneline
	pending = log --reverse --abbrev-commit --pretty=oneline master --cherry-pick master...
	undo = reset --soft HEAD^
	pick = cherry-pick

[push]
	default = current

[color "diff"]
	plain = normal
	meta = bold
	frag = cyan
	old = red
	new = green
	commit = yellow
	whitespace = normal red
[color "branch"]
	current = green
	local = normal
	remote = red
	plain = normal
[color "status"]
	header = normal
	added = red
	updated = green
	changed = red
	untracked = red
	nobranch = red
[color "grep"]
	match = normal
[color "interactive"]
	prompt = normal
	header = normal
	help = normal
	error = normal
[merge]
	tool = opendiff
[color]
	ui = auto
